# Query Data with AWS Data Wrangler

**AWS Data Wrangler** is an open-source Python library that extends the power of the Pandas library to AWS connecting DataFrames and AWS data related services (Amazon Redshift, AWS Glue, Amazon Athena, Amazon EMR, Amazon QuickSight, etc).

* https://github.com/awslabs/aws-data-wrangler
* https://aws-data-wrangler.readthedocs.io

Built on top of other open-source projects like Pandas, Apache Arrow, Boto3, s3fs, SQLAlchemy, Psycopg2 and PyMySQL, it offers abstracted functions to execute usual ETL tasks like load/unload data from Data Lakes, Data Warehouses and Databases.

_Note that AWS Data Wrangler is simply a Python library that uses existing AWS Services.  AWS Data Wrangler is not a separate AWS Service.  You install AWS Data Wrangler through `pip install` as we will see next._

# _Pre-Requisite: Make Sure You Created an Athena Table for Both TSV and Parquet in Previous Notebooks_

In [1]:
%store -r ingest_create_athena_table_tsv_passed

In [2]:
try:
    ingest_create_athena_table_tsv_passed
except NameError:
    print("++++++++++++++++++++++++++++++++++++++++++++++")
    print("[ERROR] YOU HAVE TO RUN ALL PREVIOUS NOTEBOOKS.  You did not register the TSV Data.")
    print("++++++++++++++++++++++++++++++++++++++++++++++")

In [3]:
print(ingest_create_athena_table_tsv_passed)

True

In [4]:
if not ingest_create_athena_table_tsv_passed:
    print("++++++++++++++++++++++++++++++++++++++++++++++")
    print("[ERROR] YOU HAVE TO RUN ALL PREVIOUS NOTEBOOKS.  You did not register the TSV Data.")
    print("++++++++++++++++++++++++++++++++++++++++++++++")
else:
    print("[OK]")

[OK]

In [5]:
%store -r ingest_create_athena_table_parquet_passed

In [6]:
try:
    ingest_create_athena_table_parquet_passed
except NameError:
    print("++++++++++++++++++++++++++++++++++++++++++++++")
    print("[ERROR] YOU HAVE TO RUN ALL PREVIOUS NOTEBOOKS.  You did not convert into Parquet data.")
    print("++++++++++++++++++++++++++++++++++++++++++++++")

In [7]:
print(ingest_create_athena_table_parquet_passed)

True

In [8]:
if not ingest_create_athena_table_parquet_passed:
    print("++++++++++++++++++++++++++++++++++++++++++++++")
    print("[ERROR] YOU HAVE TO RUN ALL PREVIOUS NOTEBOOKS.  You did not convert into Parquet data.")
    print("++++++++++++++++++++++++++++++++++++++++++++++")
else:
    print("[OK]")

[OK]

# Setup

In [9]:
import sagemaker
import boto3

sess = sagemaker.Session()
bucket = sess.default_bucket()
role = sagemaker.get_execution_role()
region = boto3.Session().region_name

sm = boto3.Session().client(service_name="sagemaker", region_name=region)

sagemaker.config INFO - Not applying SDK defaults from location: /etc/xdg/sagemaker/config.yaml
sagemaker.config INFO - Not applying SDK defaults from location: /home/sagemaker-user/.config/sagemaker/config.yaml

In [10]:
import awswrangler as wr

# Query Parquet from S3 with Push-Down Filters

Read Apache Parquet file(s) from from a received S3 prefix or list of S3 objects paths.

The concept of Dataset goes beyond the simple idea of files and enable more complex features like partitioning and catalog integration (AWS Glue Catalog): 

_dataset (bool)_ â€“ If True read a parquet dataset instead of simple file(s) loading all the related partitions as columns.

In [11]:
p_filter = lambda x: x["product_category"] == "Digital_Software"

In [12]:
path = "s3://{}/amazon-reviews-pds/parquet/".format(bucket)
df_parquet_results = wr.s3.read_parquet(
    path, columns=["star_rating", "product_category", "review_body"], partition_filter=p_filter, dataset=True
)
df_parquet_results.shape

2026-02-15 10:26:24,483	WARNING services.py:2070 -- WARNING: The object store is using /tmp instead of /dev/shm because /dev/shm has only 1938788352 bytes available. This will harm performance! You may be able to free up space by deleting files in /dev/shm. If you are inside a Docker container, you can increase /dev/shm size by passing '--shm-size=4.57gb' to 'docker run' (or add it to the run_options list in a Ray cluster config). Make sure to set this to more than 30% of available RAM.
2026-02-15 10:26:25,640	INFO worker.py:1852 -- Started a local Ray instance.

(102084, 3)

In [13]:
df_parquet_results.head(5)

,star_rating,review_body,product_category
0,4,So far so good,Digital_Software
1,3,Needs a little more work.....,Digital_Software
2,1,Please cancel.,Digital_Software
3,5,Works as Expected!,Digital_Software
4,4,I've had Webroot for a few years. It expired a...,Digital_Software

# Query Parquet from S3 in Chunks

Batching (chunked argument) (Memory Friendly):

Will enable the function to return a Iterable of DataFrames instead of a regular DataFrame.

There are two batching strategies on Wrangler:
* If chunked=True, a new DataFrame will be returned for each file in your path/dataset.
* If chunked=INTEGER, Wrangler will iterate on the data by number of rows equal to the received INTEGER.

P.S. chunked=True if faster and uses less memory while chunked=INTEGER is more precise in number of rows for each Dataframe.

In [14]:
path = "s3://{}/amazon-reviews-pds/parquet/".format(bucket)
chunk_iter = wr.s3.read_parquet(
    path,
    columns=["star_rating", "review_body"],
    # filters=[("product_category", "=", "Digital_Software")],
    partition_filter=p_filter,
    dataset=True,
    chunked=True,
)

In [15]:
print(next(chunk_iter))

       star_rating                                        review_body  \
0                4                                     So far so good
1                3                      Needs a little more work.....
2                1                                     Please cancel.
3                5                                 Works as Expected!
4                4  I've had Webroot for a few years. It expired a...
...            ...                                                ...
65531            5                                          very good
65532            1  Entered in product code number on McAfee site,...
65533            5                                              Great
65534            5  Great program! I have had some issues but noth...
65535            5                                    Norton is good.

       product_category
0      Digital_Software
1      Digital_Software
2      Digital_Software
3      Digital_Software
4      Digital_Software
...                 ...
65531  Digital_Software
65532  Digital_Software
65533  Digital_Software
65534  Digital_Software
65535  Digital_Software

[65536 rows x 3 columns]

# Query the Glue Catalog (ie. Hive Metastore)
Get an iterator of tables.

In [16]:
database_name = "dsoaws"
table_name_tsv = "amazon_reviews_tsv"
table_name_parquet = "amazon_reviews_parquet"

In [17]:
for table in wr.catalog.get_tables(database="dsoaws"):
    print(table["Name"])

amazon_reviews_parquet
amazon_reviews_tsv

# Query from Athena
Execute any SQL query on AWS Athena and return the results as a Pandas DataFrame.

In [18]:
%%time
df = wr.athena.read_sql_query(sql="SELECT * FROM {} LIMIT 5000".format(table_name_parquet), database=database_name)

CPU times: user 1.35 s, sys: 363 ms, total: 1.71 s
Wall time: 4.61 s

In [19]:
df.head(5)

,marketplace,customer_id,review_id,product_id,product_parent,product_title,star_rating,helpful_votes,total_votes,vine,verified_purchase,review_headline,review_body,year,review_date,product_category
0,US,24371595,R27ZP1F1CD0C3Y,B004LLIL5A,346014806,Amazon eGift Card - Celebrate,5,0,0,N,Y,Five Stars,Great birthday gift for a young adult.,2015,2015-08-31,Gift Card
1,US,42489718,RJ7RSBCHUDNNE,B004LLIKVU,473048287,Amazon.com eGift Cards,5,0,0,N,Y,Gift card for the greatest selection of items ...,It's an Amazon gift card and with over 9823983...,2015,2015-08-31,Gift Card
2,US,861463,R1HVYBSKLQJI5S,B00IX1I3G6,926539283,Amazon.com Gift Card Balance Reload,5,0,0,N,Y,Five Stars,Good,2015,2015-08-31,Gift Card
3,US,25283295,R2HAXF0IIYQBIR,B00IX1I3G6,926539283,Amazon.com Gift Card Balance Reload,1,0,0,N,Y,One Star,Fair,2015,2015-08-31,Gift Card
4,US,397970,RNYLPX611NB7Q,B005ESMGV4,379368939,"Amazon.com Gift Cards, Pack of 3 (Various Desi...",5,0,0,N,Y,Five Stars,I can't believe how quickly Amazon can get the...,2015,2015-08-31,Gift Card

# Query from Athena in Chunks
Retrieving in chunks can help reduce memory requirements.  

_This will take a few seconds._

In [20]:
%%time

chunk_iter = wr.athena.read_sql_query(
    sql="SELECT * FROM {} LIMIT 5000".format(table_name_parquet),
    database="{}".format(database_name),
    chunksize=64_000,  # 64 KB Chunks
)

CPU times: user 1.33 s, sys: 339 ms, total: 1.67 s
Wall time: 4.37 s

In [21]:
print(next(chunk_iter))

     marketplace customer_id       review_id  product_id product_parent  \
0             US    24371595  R27ZP1F1CD0C3Y  B004LLIL5A      346014806
1             US    42489718   RJ7RSBCHUDNNE  B004LLIKVU      473048287
2             US      861463  R1HVYBSKLQJI5S  B00IX1I3G6      926539283
3             US    25283295  R2HAXF0IIYQBIR  B00IX1I3G6      926539283
4             US      397970   RNYLPX611NB7Q  B005ESMGV4      379368939
...          ...         ...             ...         ...            ...
4995          US    18842208  R300M95U1G7MM4  B004KNWX1M      345129690
4996          US    18496126  R1UWXI2GREEGRI  B004LLIKVU      473048287
4997          US    52775449  R3JAO4328J3CM9  B00A44A3Y0      578402716
4998          US    23674143  R3IC0ICY67HKCN  B0091JKZ7Y      941945933
4999          US    29158178   R9FBTE44DBW79  B00G4IV0C4      516490797

                                          product_title  star_rating  \
0                         Amazon eGift Card - Celebrate            5
1                                Amazon.com eGift Cards            5
2                   Amazon.com Gift Card Balance Reload            5
3                   Amazon.com Gift Card Balance Reload            1
4     Amazon.com Gift Cards, Pack of 3 (Various Desi...            5
...                                                 ...          ...
4995          Amazon Gift Card - Print - Happy Chanukah            5
4996                             Amazon.com eGift Cards            5
4997  Amazon Gift Card - Print - Happy Birthday (Can...            5
4998  Amazon.com Gift Card for Any Amount in a Santa...            5
4999  Amazon eGift Card - Merry Christmas (Santa's C...            5

      helpful_votes  total_votes vine verified_purchase  \
0                 0            0    N                 Y
1                 0            0    N                 Y
2                 0            0    N                 Y
3                 0            0    N                 Y
4                 0            0    N                 Y
...             ...          ...  ...               ...
4995              0            0    N                 Y
4996              0            0    N                 Y
4997              0            0    N                 Y
4998              0            0    N                 Y
4999              0            0    N                 Y

                                        review_headline  \
0                                            Five Stars
1     Gift card for the greatest selection of items ...
2                                            Five Stars
3                                              One Star
4                                            Five Stars
...                                                 ...
4995                                          GIFT CARD
4996                                        First class
4997                                       Perfect Gift
4998                                   Amazon Gift Card
4999                                          Gift Card

                                            review_body  year review_date  \
0                Great birthday gift for a young adult.  2015  2015-08-31
1     It's an Amazon gift card and with over 9823983...  2015  2015-08-31
2                                                  Good  2015  2015-08-31
3                                                  Fair  2015  2015-08-31
4     I can't believe how quickly Amazon can get the...  2015  2015-08-31
...                                                 ...   ...         ...
4995  Immediate and easy access - you print it when ...  2014  2014-01-02
4996  For convenence and avoiding bank fees,this tic...  2014  2014-01-02
4997  So easy to do and I didn't even have to leave ...  2014  2014-01-02
4998  Wife loved it, and it saved my bacon for a lat...  2014  2014-01-02
4999  I am so thankful for the Amazon gift card. It ...  2014  2014-01-02

     product_category
0           Gift Card
1           Gift Card
2           Gift Card
3           Gift Card
4           Gift Card
...               ...
4995        Gift Card
4996        Gift Card
4997        Gift Card
4998        Gift Card
4999        Gift Card

[5000 rows x 16 columns]

# Release Resources

In [22]:
%%html

<p><b>Shutting down your kernel for this notebook to release resources.</b></p>
<button class="sm-command-button" data-commandlinker-command="kernelmenu:shutdown" style="display:none;">Shutdown Kernel</button>
        
<script>
try {
    els = document.getElementsByClassName("sm-command-button");
    els[0].click();
}
catch(err) {
    // NoOp
}    
</script>

In [23]:
%%javascript

try {
    Jupyter.notebook.save_checkpoint();
    Jupyter.notebook.session.delete();
}
catch(err) {
    // NoOp
}